@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */
body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}